{% extends "base.html" %}
{% block titulo %}Agregar Cliente{% endblock %}
{% block contenido %}
    <div class="container">
        <section class="section">
            <div class="columns">
                <div class="column is-one-third">
                    <h3 class="is-size-3">Agregar Usuario</h3>
                    <form action="{{url_for('update_user')}}" method="post">
                        <input type="hidden" name="id" value="{{user[0]}}">
                        <label for="name">Nombre:</label>
                        <input required type="text" class="form-control" placeholder="Nombre" name="name" id="name"
                        value="{{user[1]}}">
                        <label for="email">Correo Electrónico:</label>
                        <input required type="text" class="form-control" placeholder="Correo Electrónico" name="email" id="email"
                        value="{{user[2]}}">
                        <label for="telefono">Telefono</label>
                        <input required type="text" class="form-control" placeholder="Teléfono" name="telefono" id="telefono"
                        value="{{user[3]}}">
                        <label for="passwd">Contraseña:</label>
                        <input required type="password" class="form-control" placeholder="Contraseña" name="passwd" id="passwd">
                        <br>
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <a href="{{url_for('index')}}" class="btn btn-primary">Volver</a>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
